html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table#projectinfo {
    border: 1px solid;
}

tr#projectinfoheader > th {
    border: 1px solid;
    padding: 2px 7px;
}

tr#projectinfoprimary > td {
    border: 1px solid;
    padding: 2px 7px;
    background: rgb(220,220,220);
}

tr#projectinfosecondary > td {
    border: 1px solid;
    padding: 2px 7px;
}
